{{ define "home/index.tmpl" }}
  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{.title}}</title>
    <link rel="stylesheet" href="/assets/layout.css">
  </head>
  <body>
    {{ .title }}
    {{ .link | safe }}

    <nav>
      <a href="/login">login</a>
      <a href="/user">/user</a>
      <a href="/user/ektx">/user/ektx</a>
      <a href="/user/ektx/18">/user/ektx/18</a>
      <a href="/bindUser?username=小布丁&password=123456">ShouldBind</a>
      <h3>重定向</h3>
      <a href="/baidu">baidu</a>
    </nav>
  </body>
  </html>
{{ end }}